<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section
  id="wrapper"
  class="login-register login-sidebar"
  style="background-image: url(../assets/images/background/login-register.jpg)"
>
  <div class="login-box card">
    <div class="card-body">
      <form
        class="form-horizontal form-material"
        id="loginform"
        autocomplete="off"
        [formGroup]="registerForm"
        (submit)="registerUser()"
      >
        <a href="javascript:void(0)" class="text-center db"
          ><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
            src="../assets/images/logo-text.png"
            alt="Home"
        /></a>
        <h3 class="box-title m-t-40 m-b-0">Register Now</h3>
        <small>Create your account and enjoy</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Name"
              formControlName="name"
              autocomplete="off"
            />
          </div>
          <div
            class="row"
            *ngIf="
              registerForm.get('name')?.invalid &&
              registerForm.get('name')?.touched
            "
          >
            <div class="col text-danger error">
              El nombre es obligatorio y mayor a 4 caracteres
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              placeholder="Email"
              formControlName="email"
              autocomplete="off"
            />
            <div
              class="row"
              *ngIf="
                registerForm.controls['email'].invalid &&
                registerForm.controls['email'].touched
              "
            >
              <div class="col text-danger error">El email inválido</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
            <div
              class="row"
              *ngIf="
                registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched
              "
            >
              <div class="col text-danger error">
                La contraseña es obligatoria y mayor a 6 caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input
              class="form-control"
              type="password"
              placeholder="Confirm Password"
              formControlName="password2"
            />
            <div
              class="row"
              *ngIf="
                registerForm.controls['password2'].invalid &&
                registerForm.controls['password2'].touched
              "
            >
              <div class="col text-danger error">
                La contraseña de confimracion es obligatoria y mayor a 6
                caracteres
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input
                id="checkbox-signup"
                type="checkbox"
                formControlName="terms"
              />
              <label for="checkbox-signup">
                I agree to all <a href="#">Terms</a></label
              >
            </div>
            <div
              class="row"
              *ngIf="
                registerForm.controls['terms'].invalid &&
                registerForm.controls['terms'].touched
              "
            >
              <div class="col text-danger error">Debe aceptar los términos</div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!!errMessage">
          <div class="col text-danger">{{ errMessage }}</div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button
              class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
              type="submit"
              [disabled]="registerForm.invalid"
            >
              Sign Up
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>
              Already have an account?
              <a [routerLink]="['/auth']" class="text-info m-l-5"
                ><b>Sign In</b></a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
